<!DOCTYPE html>
<html>
    <head>
        <title> Pizza legends </title>

        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="/styles/styles.css">

        <%- include('partials/scripts') %>
    </head>
    <body>
        <%- body %>
    </body>
</html>