<!DOCTYPE html>
<html>
    <head>
        <title> Pizza legends </title>

        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="/styles/styles.css">

        <script src="/scripts/overworld.js" defer></script>
        <script src="/scripts/init.js" defer></script>
    </head>
    <body>
        <%- body %>
    </body>
</html>