<!DOCTYPE html>
<html>
    <head>
        <title> Pizza legends </title>

        <link rel="shortcut icon" href="#">

        <!-- Scripts and CSS -->
            <%- include('partials/combine') %>
    </head>
    <body>
        <%- body %>
    </body>
</html>